body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: slategrey;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.board-row {
    width: 250px;
    height: 50px;
}


.status {
    margin-bottom: 10px;
}

.square-white {
    height: 100%;
    width: 20%;
    border-color: #afafaf;
    border-width: 3px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    text-transform: uppercase;
    user-select: none;
    background-color: white;
}

@keyframes yellow-animation {
    from {
        background-color: white;
        color: white;
    }
    to {
        background-color: #ffe800;
        color: black;
    }
}

.square-yellow {
    /*background: #ffe800;*/
    height: 100%;
    width: 20%;
    border-color: #afafaf;
    border-width: 1px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    text-transform: uppercase;
    user-select: none;
    animation-name: yellow-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    color: white;
}

@keyframes grey-animation {
    from {
        background-color: white;
        color: white;
    }
    to {
        background-color: #afafaf;
        color: black;
    }
}

.square-grey {
    /*background: #afafaf;*/
    height: 100%;
    width: 20%;
    border-color: #afafaf;
    border-width: 1px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    text-transform: uppercase;
    user-select: none;
    animation-name: grey-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    color: white;
}

@keyframes green-animation {
    from {
        background-color: white;
        color: white;
    }
    to {
        background-color: #3fd128;
        color: black;
    }
}

.square-green {
    /*background: #3fd128;*/
    height: 100%;
    width: 20%;
    border-color: #afafaf;
    border-width: 1px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    text-transform: uppercase;
    user-select: none;
    animation-name: green-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    color: white;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.game-info {
    margin-left: 20px;
}

.central {
    align-content: center;
}

#id0 {animation-delay: .25s;}
#id1 {animation-delay: .5s;}
#id2 {animation-delay: .75s;}
#id3 {animation-delay: 1s;}
#id4 {animation-delay: 1.25s;}
#id5 {animation-delay: 1.5s;}
#id6 {animation-delay: 1.75s;}
#id7 {animation-delay: 2s;}
#id8 {animation-delay: 2.25s;}
#id9 {animation-delay: 2.5s;}
#id10 {animation-delay: 2.75s;}
#id11 {animation-delay: 3s;}
#id12 {animation-delay: 3.25s;}
#id13 {animation-delay: 3.5s;}
#id14 {animation-delay: 3.75s;}
#id15 {animation-delay: 4s;}
#id16 {animation-delay: 4.25s;}
#id17 {animation-delay: 4.5s;}
#id18 {animation-delay: 4.75s;}
#id19 {animation-delay: 5s;}
#id20 {animation-delay: 5.25s;}
#id21 {animation-delay: 5.5s;}
#id22 {animation-delay: 5.75s;}
#id23 {animation-delay: 6s;}
#id24 {animation-delay: 6.25s;}
#id25 {animation-delay: 6.5s;}
#id26 {animation-delay: 6.75s;}
#id27 {animation-delay: 7s;}
#id28 {animation-delay: 7.25s;}
#id29 {animation-delay: 7.5s;}